// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h1 {
  font-size: 32px;
  font-family: Georgia, 'roboto', Times, serif;
  text-align: center;
  color: lighter;
}

h2{
  font-size: 18px;
  font-family: Georgia, 'roboto', Times, serif;
  color: grey;
}
